.navbar-default{
    background-color: #008d95; 
    color:#fff;
   /* border-color:#2989D8;
    border-color:#666;*/

    a.navbar-brand{
    	color:#fff;
        font-weight: bold;
        font-size: 40px;

        &:hover,
        &:focus{
            color:#fff;
        }
    }
}

.navbar-static-top{
    background-color: #1e5799; 
    @include filter-gradient(#1e5799, #7db9e8, horizontal); 
    @include background-image(linear-gradient(left, #1e5799 0%,#2989d8 50%,#7db9e8 100%));
}

.nav {
    > li > a{
        &:hover,
        &:focus{
            color:#fff; 
            background-color: #1e5799;
        }
    }
}


.navbar-top-links {
    margin-right: 0;

    li {
	    display: inline-block;
        padding:$universal;
        min-height: 50px;
        color:#fff;

	    &:last-child {
		    margin-right: 15px;
		}

		a {
		    padding: 15px;
		    min-height: 50px;
			color:#fff;
		}
	}

}


.navbar-top-links {

    .dropdown-menu li {
        
        display: block;

        &:last-child {
            margin-right: 0;
        }

        a {
            padding: 3px 20px;
            min-height: 0;
            
            div {
                white-space: normal;
            }

        }
    }
}
